<!DOCTYPE html>
@{
    var useRequire = ViewBag.UseRequire ?? false;
    var ShowFrame = ViewBag.ShowFrame ?? true;
}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" sizes="144x144" href="~/Content/images/icon.png">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="~/Content/images/apple-icon-57x57-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Content/images/apple-icon-72x72-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Content/images/apple-icon-114x114-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Content/images/apple-icon-144x144-precomposed.png" />

    <title>@ViewBag.Title - F3SCLT</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("css", false)
    @RenderSection("headscripts", false)
</head>
<body role="document" @(ShowFrame == false ? "style=padding-top:0;":"") >
    <!-- Google Tag Manager -->
    <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id=GTM-NVTZMR"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-NVTZMR');</script>
    <!-- End Google Tag Manager -->
    @if (ShowFrame)
    {
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("F3 SCLT", MVC.Home.ActionNames.Index, MVC.Home.Name, new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("FNG", MVC.Newsletter.ActionNames.Index, MVC.Newsletter.Name)</li>
                        <li><a href="@Url.Action("Index", MVC.Schedule.Name)#/map">Map</a></li>
                        <li><a href="@Url.Action("Index", MVC.Schedule.Name)#/week">Schedule</a></li>
                        <li><a href="@Url.Action("Index", MVC.Schedule.Name)#/schedule">Workouts</a></li>
                        <li><a href="@Url.Action("Index", MVC.Schedule.Name)#/stats">Stats</a></li>
                        <li>@Html.ActionLink("Backblast", MVC.Backblast.ActionNames.Index, MVC.Backblast.Name)</li>
                        @*<li>@Html.ActionLink("Login", "Login", "Account")</li>*@
                    </ul>
                </div>
            </div>
        </div>
    }
    <div class="container body-content">
        @RenderBody()
        @if (ShowFrame)
        {
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - F3 SCLT</p>
            </footer>
        }
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @if (useRequire)
    {
        <script src="~/Scripts/require.js"></script>
        <script src="~/Scripts/config.js"></script>
        <script>

            F3MobileConfig.initialize({
                baseUrl: "@Url.Content("~/scripts")"
            });

        </script>
    }

    @RenderSection("scripts", required: false)
</body>
</html>
